|
        <a href="<%= help_privacy_path %>">Privacy and cookies</a>
        |

        Project by <a href="https://codeforcroatia.org/?utm_source=imamopravoznati&utm_medium=link" target="_blank">Code for Croatia</a> and
        built by <a href="https://www.mysociety.org/?utm_source=imamopravoznati&utm_medium=link" target="_blank">mySociety</a>, powered by <a href="<%= help_alaveteli_path %>">Alaveteli</a> ...
        <a href="<%= help_credits_path(:anchor => 'helpus') %>">and you</a>
        |
        Dedicated to all of you who want to investigate!
