|
        <a href="<%= help_privacy_path %>">Privatnost i kolačići</a>
        |

        Održava <a href="https://codeforcroatia.org/?utm_source=imamopravoznati&utm_medium=link" target="_blank">Code for Croatia</a>, a pokreće <a href="<%= help_alaveteli_path %>">Alaveteli</a> ...
        <a href="<%= help_credits_path(:anchor => 'helpus') %>">zahvaljujući vama</a>
        |
        Posvećeno svima vama koji želite znati.
