<% id_suffix ||= '' %>

<div>
  <%= classification_radio_button 'referred', id_suffix: id_suffix %>
  <%= classification_label('referred', _('I have <strong>started appeal to Information Commissioner</strong> to resolve this request'), id_suffix: id_suffix) %>
</div>
