<% id_suffix ||= '' %>

<div>
  <%= classification_radio_button 'referred', id_suffix: id_suffix %>
  <%= classification_label('referred', _('Authority has <strong>referred you to another public body</strong> for an answer'), id_suffix: id_suffix) %>
</div>
