<div>
  <a id="logo" class="ir" href="<%= frontpage_url %>">
  WhatDoTheyKnow? Make and explore Freedom of Information requests
  </a>
</div>
<div>
  <a id="orglogo" class="ir" href="http://www.codeforcroatia.org">another really handy site by codeforcroatia.org</a>
</div>
