<% @title = h("Anketa za ImamoPravoZnati korisnike") %>

<style type="text/css">
    td {border-bottom:1px gray dashed; padding-top:12px;padding-bottom:12px;}
    select {min-width:300px;}
</style>


<h1><%= @title %></h1>

<% if @user.nil? %>
    <p><strong>Anketa je dostupna samo prijavljenim korisnicima.</strong></p>
<% elsif AlaveteliConfiguration::survey_url.blank? %>
   <p>Ispričavamo se! Anketa trenutno nije dostupna. Molimo vas, navratite opet malo kasnije.</p>
<% elsif @user.survey.already_done? %>
    <p>Zahvaljujemo na popunjavanju ankete.</p>
<% else %>
    <div id="disclaimer">
        Mi (Code for Croatia i Gong, organizacije civilnog društva koje vode ovu stranicu) ne volimo vas zamarati ovime, ali stvarno bismo voljeli znati što (ne)volite na našoj internetskoj stranici i koristi li je reprezentativni udio stanovništva (ne bismo željeli služiti isključivo jednoj određenoj skupini). Znamo da tražimo neke osobne stvari, ali budimo sigurni:
        <ul>
            <li>
                Sve od ove točke ndalje je <strong>
                    potpuno anonimno
                </strong>
                .
            </li>
            <li>
                To znači da vaše odgovore ne možemo povezati s vašom aktivnošću na našim internetskim stranicama.
            </li>
            <li>
                Naravno, voljeli bismo da odgovorite na sva pitanja, ali ne morate ako smatrate da nešto vas ne tiče.
            </li>
            <li>
                Ovo su sva pitanja. <strong>
                    Nećemo pitati ništa više.
                </strong>
                 Tako da će sveukupno trajati samo 5 minuta.
            </li>
        </ul>
        <p>Vaši odgovori će nam pomoći <strong>poboljšati internetske stranice</strong> i time nam pomoći da što više ljudi želi koristiti ove stranice.</p>
    </div>
    <hr />

    <% survey_form(@user.survey) do %>
        <table>
            <colgroup>
                <col id="col_label" />
                <col id="col_formelelemt" />
            </colgroup>
            <tr>
                <td class="us_label"><div class="us_label">
                Kako ste pronašli ovu stranicu?
                </div></td>
                <td class="us_formelement"><label>
                    <input type="radio" name="referrer" value="1" />putem neke druge Code for Croatia stranice
                </label>
            <br> <label>
                <input type="radio" name="referrer" value="2" />putem neke druge Gong stranice
                </label>
            <br> <label>
                <input type="radio" name="referrer" value="3" />putem medija (poput novina, televizije i slično)
                </label>
            <br> <label>
                <input type="radio" name="referrer" value="4" />putem internetske tražilice (poput Google Search, Bing ili Yahoo)
            </label>
            <br> <label>
                <input type="radio" name="referrer" value="5" />putem preporuke prijatelja ili kolege
            </label>
            <br> <label>
                <input type="radio" name="referrer" value="6" />putem stranice kampanje
            </label>
            <br> <label>
                <input type="radio" name="referrer" value="9" />ostalo </label><label><input type="text" name="referrer_other" value="please specify" size="50" maxlength="500" onclick="this.form.referrer[6].checked = true;if (this.value=='please specify') this.value=''" id="id_referrer_other" />
            </label>
            <br> <label>
                <input type="radio" name="referrer" value="98" />ne mogu se sjetiti
            </label>
            <br> <label>
                <input type="radio" name="referrer" value="95" />ne želim odgovoriti
            </label>
            <br></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Kolika je vjerojatnost da biste ovo mjesto preporučili prijatelju ili kolegi? (pod pretpostavkom da bi ih zanimala takva usluga)
            </div></td>
                <td class="us_formelement">
                <select name="netpromoter">
                <option selected="selected" value="odaberite opciju koja se odnosi na vas">odaberite opciju koja se odnosi na vas</option>
                <option value="0">0 - nimalo vjerojatno</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 - neutralno</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10 - izrazito vjerojatno</option>
                <option value="95">ne želim odgovoriti</option>
                </select><br>
                <br>
                <textarea name="netpromoter_reason"  rows="2" cols="50" onclick="if (this.value=='feel free to tell us why') this.value=''" id="id_netpromoter_reason">slobodno nam recite zašto</textarea></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Na koju ste vrstu tijela javne vlasti poslali vaš zahtjev?
            </div></td>
                <td class="us_formelement"><select name="authority">
            <option selected="selected" value="please select">izaberite</option>
            <option value="1">Vlada Republike Hrvatske</option>
            <option value="2">Jedinice lokalne ili područne samouprave</option>
            <option value="3">Odgoj, obrazovanje, znanost i sport</option>
            <option value="4">Zaštita okoliša i održivi razvoj</option>
            <option value="5">Zdravstvo</option>
            <option value="6">Kultura i umjetnost</option>
            <option value="7">Obrana i nacionalna sigurnost</option>
            <option value="8">Javni red, sigurnost i pravosuđe</option>
            <option value="9">Promet i komunikacije</option>
            <option value="97">ostalo</option>
            <option value="95">ne želim odgovoriti</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Koja od ovih kategorija najbolje opisuje kome bi informacije koje ste zatražili bile relevantne?
            </div></td>
                <td class="us_formelement"><select name="messageconcern">
            <option selected="selected" value="please select">izaberite</option>
            <option value="1">samo vama i vašoj obitelji</option>
            <option value="2">samo drugim ljudima, ali ne vama i vašoj obitelji</option>
            <option value="3">vama i vašoj obitelji, ali i drugim ljudima poput vas</option>
            <option value="4">svim ljudima u društvu</option>
            <option value="5">svim ljudima nacionalno ili čak u cijelom svijetu</option>
            <option value="94">ne znam</option>
            <option value="95">ne želim odgovoriti</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label">
            <div class="us_label">
            Jeste li dobili odgovor od tijela javne vlasti na vaš zahtjev? <small>(to znači informaciju koju ste tražili, a ne njihov komentar ili poruku kojom su potvrdili primitak vašeg zahtjeva)</small></div>
            </td>
                <td class="us_formelement"><table><tr><td><label>
                <input type="radio" name="response" value="1"  id="id_response_yes">da
            </label>
            </td><td><label>
                <input type="radio" name="response" value="0"  id="id_response_no">ne
            </label>
            </td><td><label>
                <input type="radio" name="response" value="95"  id="id_response_NA">ne želim odgovoriti
            </label>
            </td></tr></table></td>
            </tr>
            <tr id="id_satisfaction_line"><td class="us_label"><div class="us_label">
                Ako ste dobili traženu informaciju od tijela javne vlasti: jeste li zadovoljni dobivenim odgovorom?
            </div></td>
            <td class="us_formelement">
            <table><tr><td><label>
                <input type="radio" name="satisfaction" value="1"  id="id_satisfaction_yes">da
            </label>
            </td><td><label>
                <input type="radio" name="satisfaction" value="0"  id="id_satisfaction_no">ne
            </label>
            </td><td><label>
                <input type="radio" name="satisfaction" value="98"  id="id_satisfaction_noresponse">odgovor nije zaprimljen
            </label>
            </td><td><label>
                <input type="radio" name="satisfaction" value="95"  id="id_satisfaction_NA">ne želim odgovoriti
            </label>
            </td></tr></table><textarea name="satisfaction_reason"  rows="2" cols="50" onclick="if (this.value=='feel free to tell us why') this.value=''" id="id_satisfaction_reason">feel free to tell us why</textarea></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Ako ste dobili relevantne informacije: Jeste li poduzeli nešto s dobivenim informacijama?
            </div></td>
                <td class="us_formelement">
                <table><tr><td><label>
                <input type="radio" name="followupaction" value="1"  id="id_followupaction_yes">da
            </label>
            </td><td><label>
                <input type="radio" name="followupaction" value="0"  id="id_followupaction_no">ne
            </label>
            </td><td><label>
                <input type="radio" name="followupaction" value="98"  id="id_followupaction_noresponse">odgovor nije zaprimljen
            </label>
            </td><td><label>
                <input type="radio" name="followupaction" value="95"  id="id_followupaction_NA">ne želim odgovoriti
            </label>
            </td></tr></table><textarea name="followupaction_reason"  rows="2" cols="50" onclick="if (this.value=='feel free to tell us what you did') this.value=''" id="id_followupaction_reason">opišite što ste učinili</textarea></td>
            </tr>
            <tr id="id_dialogue_line"><td class="us_label"><div class="us_label">
                Hoćete li poslati dodatne zahtjeve istom tijelu javne vlasti?
            </div></td>
            <td class="us_formelement"><table><tr><td><label>
                <input type="radio" name="dialogue" value="1"  id="id_dialogue_yes">da
            </label>
            </td><td><label>
                <input type="radio" name="dialogue" value="0"  id="id_dialogue_no">ne
            </label>
            </td><td><label>
                <input type="radio" name="dialogue" value="95"  id="id_dialogue_NA">ne želim odgovoriti
            </label>
            </td></tr></table></td>
            </tr>
            <tr id="id_previouscontact_line"><td class="us_label"><div class="us_label">
                Prije nego što ste koristili ovu stranicu, jeste li uopće ikada podnijeli zahtjev za pristup informacijama - i ako jeste, kako ste to učinili?
            </div></td>
            <td class="us_formelement"><label>
                <input type="radio" name="previouscontact" value="0"  id="id_previouscontact_no">prije ove stranice nisam nikada
            </label>
            <br> <label>
                <input type="radio" name="previouscontact" value="1"  id="id_previouscontact_offline">jesam, slanjem zahtjeva papirnatim putem <small>(npr. pismo)</small>
            </label>
            <br> <label>
                <input type="radio" name="previouscontact" value="2"  id="id_previouscontact_online">jesam, korištenjem interneta <small>(npr. e-mail)</small>
            </label>
            <br> <label>
                <input type="radio" name="previouscontact" value="3"  id="id_previouscontact_both">jesam, korištenjem obje metode papirnato i putem interneta
            </label>
            <br> <label>
                <input type="radio" name="previouscontact" value="95"  id="id_previouscontact_NA">ne želim odgovoriti
            </label>
            <br></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Koliko se slažete sa sljedećim tvrdnjama?
            </div></td>
                <td class="us_formelement"><table style="text-align:center;table-layout:fixed">
                    <tr>
                        <th style="text-align:left;">
                            tvrdnja
                        </th>
                        <th style="width:10%">
                            potpuno se ne slažem
                        </th>
                        <th style="width:10%">
                            ne slažem se
                        </th>
                        <th style="width:10%">
                            slažem se
                        </th>
                        <th style="width:10%">
                            potpuno se slažem
                        </th>
                        <th style="width:10%">
                            ne želim odgovoriti
                        </th>
                    </tr>
                    <tr>
                        <td style="text-align:left;">ImamoPravoZnati je lagan za navigiranje</td>
                        <td><input type="radio" name="opinion_navigation" value="0"></td>
                        <td><input type="radio" name="opinion_navigation" value="1"></td>
                        <td><input type="radio" name="opinion_navigation" value="2"></td>
                        <td><input type="radio" name="opinion_navigation" value="3"></td>
                        <td><input type="radio" name="opinion_navigation" value="99"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">ImamoPravoZnati je dobro strukturiran</td>
                        <td><input type="radio" name="opinion_structure" value="0"></td>
                        <td><input type="radio" name="opinion_structure" value="1"></td>
                        <td><input type="radio" name="opinion_structure" value="2"></td>
                        <td><input type="radio" name="opinion_structure" value="3"></td>
                        <td><input type="radio" name="opinion_structure" value="99"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">ImamoPravoZnati pruža informacije na nepristran način</td>
                        <td><input type="radio" name="opinion_objectivity" value="0"></td>
                        <td><input type="radio" name="opinion_objectivity" value="1"></td>
                        <td><input type="radio" name="opinion_objectivity" value="2"></td>
                        <td><input type="radio" name="opinion_objectivity" value="3"></td>
                        <td><input type="radio" name="opinion_objectivity" value="99"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">ImamoPravoZnati je ugodan oku</td>
                        <td><input type="radio" name="opinion_design" value="0"></td>
                        <td><input type="radio" name="opinion_design" value="1"></td>
                        <td><input type="radio" name="opinion_design" value="2"></td>
                        <td><input type="radio" name="opinion_design" value="3"></td>
                        <td><input type="radio" name="opinion_design" value="99"></td>
                    </tr>
                </table></td>
            </tr>
            <tr id="id_usefrequency_line"><td class="us_label"><div class="us_label">
                U posljednjih dvanaest mjeseci: Koliko često ste koristili ImamoPravoZnati.org kako biste podnijeli zahtjev za pristup informacijama?
            </div></td>
            <td class="us_formelement"><select name="usefrequency">
            <option selected="selected" value="odaberite opciju koja se odnosi na vas">odaberite opciju koja se odnosi na vas</option>
            <option id="id_usefrequency_0" value="0">ovo je prvi puta u posljednjih 12 mjeseci</option>
            <option id="id_usefrequency_1" value="1">otprilike jednom u 12 mjeseci</option>
            <option id="id_usefrequency_5" value="2">2 - 5 puta u posljednjih 12 mjeseci</option>
            <option id="id_usefrequency_9" value="3">6 - 10 puta u posljednjih 12 mjeseci</option>
            <option id="id_usefrequency_10" value="4">više od 10 puta u posljednjih 12 mjeseci</option>
            <option id="id_usefrequency_NA" value="95">ne želim odgovoriti</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Jeste li registriran korisnik na ImamoPravoZnati?
            </div></td>
                <td class="us_formelement"><table><tr><td><label>
                <input type="radio" name="registration" value="1"  id="id_registration_yes">da
            </label>
            </td><td><label>
                <input type="radio" name="registration" value="0"  id="id_registration_no">ne
            </label>
            </td><td><label>
                <input type="radio" name="registration" value="95"  id="id_registration_NA">ne želim odgovoriti
            </label>
            </td></tr></table></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Kako biste ocijenili svoju sposobnost korištenja interneta?
            </div></td>
                <td class="us_formelement"><select name="internetability">
            <option selected="selected" value="please select">izaberite</option>
            <option value="5">Odlično</option>
            <option value="4">Dobro</option>
            <option value="3">Relativno dobro</option>
            <option value="2">Slabo</option>
            <option value="1">Loše</option>
            <option value="97">ne znam / ne mogu procijeniti</option>
            <option value="95">ne želim odgovoriti</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                U posljednjih dvanaest mjeseci jeste li bili uključeni u političku ili društvenu skupinu, npr. formalnim članstvom ili volontiranjem?
            </div></td>
                <td class="us_formelement">
                    <label>
                        <input type="radio" name="groups" value="2"  id="id_groups_yes_political">u političku grupu <small>(npr. stranka, sindikat, druga politička organizacija)</small>
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="groups" value="1"  id="id_groups_yes_community">u građansku grupu <small>(npr. udruga, crkva, inicijativa, sportski klub, volonterska organizacija)</small>
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="groups" value="3"  id="id_groups_yes_both">oboje građansku i političku grupu/e
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="groups" value="0"  id="id_groups_no">ništa od navedenog
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="groups" value="95"  id="id_groups_NA">ne želim odgovoriti
                    </label>
                    <br>
                </td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Osim vašeg korištenja ove internetske stranice: Jeste li tijekom posljednjih dvanaest mjeseci sudjelovali u širokoj političkoj aktivnosti?<br>
                <small>
                    (To uključuje, na primjer, demonstracije, potpisivanje peticije, kontaktiranje političara, bojkot proizvoda, doniranje novca ili pokazivanje značke kampanje)
                </small>
            </div></td>
                <td class="us_formelement"><label>
                <input type="radio" name="activity" value="2"  id="id_activity_yes_online">da, na internetu
            </label>
            <br> <label>
                <input type="radio" name="activity" value="1"  id="id_activity_yes_offline">da, fizički
            </label>
            <br> <label>
                <input type="radio" name="activity" value="3"  id="id_activity_yes_both">da, na internetu i fizički
            </label>
            <br> <label>
                <input type="radio" name="activity" value="0"  id="id_community_no">ništa od navedenog
            </label>
            <br> <label>
                <input type="radio" name="activity" value="95"  id="id_community_NA">ne želim odgovoriti
            </label>
            <br></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                U koju dobnu skupinu pripadate?
            </div></td>
                <td class="us_formelement"><select name="age">
            <option selected="selected" value="odaberite opciju koja se odnosi na vas">odaberite opciju koja se odnosi na vas</option>
            <option value="1">manje od 18 godina starosti</option>
            <option value="2">18-24 godina</option>
            <option value="3">25-34 godina</option>
            <option value="5">35-44 godina</option>
            <option value="7">45-54 godina</option>
            <option value="9">55-64 godina</option>
            <option value="11">65-74 godina</option>
            <option value="13">75 godina i starije</option>
            <option value="95">ne želim odgovoriti</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Koji je vaš spol?
            </div></td>
                <td class="us_formelement"><table><tr><td><label>
                <input type="radio" name="gender" value="1"  id="id_gender_female">žensko
            </label>
            </td><td><label>
                <input type="radio" name="gender" value="0"  id="id_gender_male">muško
            </label>
            </td><td><label>
                <input type="radio" name="gender" value="95"  id="id_gender_NA">ne želim odgovoriti
            </label>
            </td></tr></table></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Koji je zadnja obrazovna ustanova koju ste pohađali ili koju vrstu obrazovne ustanove pohađate sada?
            </div></td>
                <td class="us_formelement"><select name="education_any">
            <option selected="selected" value="odaberite opciju koja se odnosi na vas">odaberite opciju koja se odnosi na vas</option>
            <option value="0">Osnovna škola (četvrogodišnja)</option>
            <option value="1">Osnovna škola (osmogodišnja)</option>
            <option value="2">Srednja škola (trogodišnja)</option>
            <option value="3">Srednja škola (četverogodišnja)</option>
            <option value="4">Sveučilište (prvostupnik, ing, bacc)</option>
            <option value="5">Sveučilište (magistar struke)</option>
            <option value="6">Sveučilište (doktor struke)</option>
            <option value="9">drugo</option>
            <option value="95">ne želim odgovoriti</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Što od navedenoga najbolje opisuje vašu trenutnu situaciju?
            </div></td>
                <td class="us_formelement">
                    <select name="lifestage">
                        <option selected="selected" value="odaberite opciju koja se odnosi na vas">odaberite opciju koja se odnosi na vas</option>
                        <option value="1">zaposlenik na puno radno vrijeme (40 sati tjedno ili više)</option>
                        <option value="2">zaposlenik na djelomično radno vrijeme (manje od 40 sati tjedno)</option>
                        <option value="3">umirovljenik</option>
                        <option value="4">nezaposlen</option>
                        <option value="5">trajno tjelesno oštećenje ili invaliditet</option>
                        <option value="6">zaposlenik javne službe ili vojska</option>
                        <option value="7">preddiplomski student</option>
                        <option value="8">dodiplomski student</option>
                        <option value="9">zaposlenik na puno radno vrijeme u obrazovanju</option>
                        <option value="10">zaposlenik na djelomično radno vrijeme u obrazovanju</option>
                        <option value="11">kućanski poslovi ili briga o djeci ili drugim osobama</option>
                        <option value="98">ništa od navedenog</option>
                        <option value="95">ne želim odgovoriti</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                  Prihodi kućanstava danas se u Hrvatskoj uvelike razlikuju.
                                     Koji podaci najbolje predstavljaju ukupan prihod vašeg kućanstava?
            </div></td>
                <td>
                    <select name="income">
                        <option selected="selected" value="odaberite opciju koja se odnosi na vas">odaberite opciju koja se odnosi na vas</option>
                        <option value="1">do 3000 kn mjesečno</option>
                        <option value="2">3000 do 5000 kn mjesečno</option>
                        <option value="3">5000 do 8000 kn mjesečno</option>
                        <option value="4">8000 do 12000 kn mjesečno</option>
                        <option value="5">12000 do 15000 kn mjesečno</option>
                        <option value="6">15000 do 20000 kn mjesečno</option>
                        <option value="7">više od 20000 kn mjesečno</option>
                        <option value="95">ne želim odgovoriti</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="us_label">
                    <div class="us_label">
                        Kojoj od ovih etničkih skupina smatrate da pripadate?
                    </div>
                </td>
                <td class="us_formelement"><select name="ethnicity">
                    <option selected="selected" value="odaberite opciju koja se odnosi na vas">odaberite opciju koja se odnosi na vas</option>
                    <optgroup label="A White">
                        <option value="1">Hrvat</option>
                        <option value="21">Bošnjak</option>
                        <option value="22">Welsh</option>
                        <option value="23">Scottish</option>
                        <option value="2">Irish</option>
                        <option value="3">drugo (bjelac)</option>
                    </optgroup>
                    <optgroup label="B Mixed">
                        <option value="4">White and Black Caribbean</option>
                        <option value="5">White and Black African</option>
                        <option value="6">White and Asian</option>
                        <option value="7">drugo (mješane boje)</option>
                    </optgroup>
                    <optgroup label="C Asian or Asian British">
                        <option value="8">Indian</option>
                        <option value="9">Pakistani</option>
                        <option value="10">Bangladeshi</option>
                        <option value="11">drugo (azijat)</option>
                    </optgroup>
                    <optgroup label="D Black or Black British">
                        <option value="12">Caribbean</option>
                        <option value="13">African</option>
                        <option value="14">drugo (crnac)</option>
                    </optgroup>
                    <optgroup label="E Chinese">
                        <option value="15">Kinez</option>
                    </optgroup>
                    <optgroup label="F other ethnic group">
                        <option value="16">neke druge etničke grupe</option>
                    </optgroup>
                    <optgroup label="----">
                        <option value="97">ne znam</option>
                        <option value="95">ne želim odgovoriti</option>
                    </optgroup>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                  Imate li zdravstvenih problema ili invaliditeta koji vas sprječava u svakom
                   svakodnevne zadatke kod kuće, na poslu ili u školi ili koji ograničavaju vrstu ili količinu posla koji možete raditi?
                </div></td>
                <td class="us_formelement">
                    <table>
                        <tr>
                            <td>
                                <label>
                                    <input type="radio" name="disability" value="1"  id="id_disability_yes">da
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="radio" name="disability" value="0"  id="id_disability_no">ne
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="radio" name="disability" value="95"  id="id_disability_NA">ne želim odgovoriti
                                </label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="us_label">
                    <div class="us_label">
                        Imate li još komentara (npr. na anketu, na vašu upotrebu portala itd.)?
                    </div>
                </td>
                <td class="us_formelement"><textarea name="survey_comment"  rows="5" cols="50" id="id_survey_comment"></textarea></td>
            </tr>
        </table>
        <p>
            (Puno vam hvala! I obećajemo, to je bilo <strong>posljednje pitanje</strong>!)
        </p>
    <% end %>
<% end %>
