// ==================
// VARIABLES
// ==================

@import "partials/variables";

// ==================
// FOOTER LAYOUT
// ==================

#footer {
  li {
    a,
    a:visited,
    a:active {
      color: $dds-red;
      color: transparentize($dds-red, 0.2);
    }

    a:hover {
      color: $dds-red;
    }
  }
}