// ==================
// VARIABLES
// ==================

@import "partials/variables";

// ==================
// FOOTER LAYOUT
// ==================

#footer {
  border-top: 1px solid darken($creamy-grey, 10%);
  background-color: $creamy-grey;
  padding-top: 10px;
  margin-top: 50px;
  max-width: none;
}

.footer-inner {
  @include grid-row;
}

#footer-nav {
  @include grid-column(12);
  float: none;

  ul {
    padding: 0;
    list-style: none outside none;
  }

  /* Three elements in footer - so a 3 element block grid */
  @include respond-min($main_menu-mobile_menu_cutoff) {
    > ul {
      @include block-grid(3);
      font-size: 0.85em;
      li {
        text-align: left;
      }
    }
    @include ie8 {
      #footer-nav > ul > li:nth-child(3n+1) {
        padding-left: 0em;
        padding-right: 1.25em;
      }
      #footer-nav > ul > li:nth-child(3n+2) {
        padding-left: 0.625em;
        padding-right: 0.625em; 
      }
      #footer-nav > ul > li:nth-child(3n) {
        padding-left: 1.25em;
        padding-right: 0em;
      }
    }

    .footer-logo img {
      display: inherit;
      width: 60%;
      padding: 0;
    }
  }
}
