// ==================
// VARIABLES
// ==================

@import "partials/variables";

// ==================
// FRONTPAGE
// ==================

// Intro
// (1 2 3 steps, lead box)
// ------------------
#frontpage-intro {
  @include grid-row($behavior: nest);
  @include respond-min($main_menu-mobile_menu_cutoff) {
    min-height: 375px;
  }

  #frontpage-intro-lead {
    @include grid-column(12);
    background-color: $light-grey;

    @include respond-min($main_menu-mobile_menu_cutoff) {
      @include grid-column(8);
      background: image-url("frontpage-lead-background.png") no-repeat scroll 15px 0 transparent;
      margin-top: 50px;
      height: 320px;
      line-height: 1.1;

      @include ie8 {
        padding-right: 0.9375em;
        background: image-url("frontpage-lead-background-ie.png") no-repeat scroll 0 0 transparent;
      }

      @include lte-ie7 {
        width: 36.813em;
      }
    }

    .frontpage-lead-cell {
      padding-bottom: 20px;

      @include respond-min($main_menu-mobile_menu_cutoff) {
        width: 25%;
        padding-left: 20px;
        padding-right: 10px;
        float: left;
        /* We're constraining older IE to a smaller width */
        @include ie8 {
          width: 158px;
        }
        /* No older IE support for border-box */
        @include lte-ie7 {
          width: 150px;
        }
      }
      a {
        text-decoration: none;
          &:hover {
          text-decoration: underline;
        }
      }

      h2 {
        color: $dds-red;
        font-size: 1.1rem;
        @include ie8 {
          font-size: 1.1em;
        }
        font-weight: bold;
        @include respond-min($main_menu-mobile_menu_cutoff) {
          margin-top: 35px;
        }
      }

      .frontpage-lead-enum {
        color: $dark-grey;
        display: inline;
        font-weight: bold;
        @include respond-min($main_menu-mobile_menu_cutoff) {
          display: block;
          font-size: 7.5rem;
          line-height: 7.5rem;
          @include ie8 {
            font-size: 7.5em;
          }
          margin-top: 20px;
          margin-bottom: 0;
        }
      }

      .frontpage-lead-text {
        display: inline;
        color: $dark-grey;
        font-weight: bold;
        font-size: 0.9rem;

        @include respond-min($main_menu-mobile_menu_cutoff) {
          margin-bottom: 30px;
          display: block;
        }
      }

      #frontpage-lead-button {
        padding: 7px 10px 7px 10px;
        background-color: $dds-red;
        border-radius: 5px;
        border-bottom: 2px solid #C6C6C5;

        a {
          color: #FFFFFF;
          font-weight: bold;
        }
      }
    }

    .frontpage-lead-cell.banner{
      @include respond-min($main_menu-mobile_menu_cutoff) {
        padding: 15px;
        h2 {
          margin-bottom: 3rem;
          @include ie8 {
            margin-bottom: 3em;
          }
        }
      }
    }
  }

  .frontpage-lead-text.long {
    @include respond-min($main_menu-mobile_menu_cutoff) {
      margin-left: -10px;
    }
  }

  .frontpage-lead-text.short {
    @include respond-min($main_menu-mobile_menu_cutoff) {
      margin-left: 5px;
    }
  }

  #frontpage-intro-sidebar {
    margin-top: 20px;

    @include grid-column(12);
    @include respond-min($main_menu-mobile_menu_cutoff) {
      @include grid-column(4);
      margin-top: 50px;
      @include ie8 {
        padding-left: 0.9375em;
      }
      @include lte-ie7 {
        width: 17.438em;
      }
    }

    #frontpage-lead-ad {
      background-color: $dds-red;
      text-align: center;
      color: lighten($dds-red, 40%);
      border-radius: 5px;
      padding: 12px;
      margin-bottom: 12px;
      box-shadow: 0 2px 0 darken($dds-red, 5%);

      h4 {
        color: $white;
        margin: 0;
        font-size: 1.1rem;
        padding: 0.5em 0;
      }
      p {
        font-size: 0.8rem;
        line-height: 1.1rem;
      }
      a {
        color: #fff;
      }
    }
  }

}

// Search box
// ------------------
#frontpage-search-box {
  @include grid-row();
  background-color: $creamy-grey;
  border-radius: 5px;

  #frontpage-search-label {
    display: none;
    @include respond-min($main_menu-mobile_menu_cutoff) {
      margin-top: 0;
      @include grid-column(4);
      display: block;
      @include ie8 {
        padding-right: 0.9375em;
      }
      @include lte-ie7 {
        width: 17.438em;
      }
    }
  }

  h4 {
    font-weight: bold;
    font-size: 1em;
    @include respond-min($main_menu-mobile_menu_cutoff) {
      font-size: 1.2rem;
    }
    @include ie8 {
      font-size: 1.2em;
    }

    color: #3C3C3B;
    line-height: 1.1;
    text-align: right;
    margin: 20px 0;
  }

  #frontpage-search-form {
    @include grid-column(12);
    @include respond-min($main_menu-mobile_menu_cutoff) {
      @include grid-column(8);
      form {
        margin: 0;
      }
      @include ie8 {
        padding-left: 0.9375em;
      }
      @include lte-ie7 {
        width: 36.813em;
      }
    }
  }

  input {
    margin: 30px 0;
  }
  input[type="text"] {
    width: 70%;
    margin-right: 5px;
  }
  input[type="submit"] {
    width: 25%;
  }
}

// News
// ------------------
#frontpage-updates { }

#frontpage-updates-news {
  @include grid-row;
  margin-top: 3em;
}

  .frontpage-updates-title {
    text-decoration: none;
    color: black;

    &:hover,
    &:active,
    &:visited {
      color: black;
    }
  }

.frontpage-blog-post {
  @include grid-column(12);
  @include respond-min($main_menu-mobile_menu_cutoff) {
    @include grid-column(6);
    padding-left: 0;
  }
  padding-left: 0;
  margin-bottom: 1.5em;
  position: relative;

  &:hover {
    .frontpage-blog-post--article-link {
      color: black;
    }

    .frontpage-blog-post--image {
      opacity: .5;
    }
  }
}

  .frontpage-blog-post--link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
  }
  
  .frontpage-blog-post--title {
    margin: 1em 0;
  }

  .frontpage-blog-post--image {
    width: 100%;
    height: 200px;
    background-color: $creamy-grey;
    background-size: cover;
    border: 1px solid darken($creamy-grey, 10%);
    transition: opacity 0.2s ease-out;
  }

  .frontpage-blog-post--article-link {
    text-decoration: none;
    transition: color 0.2s ease-out;
  }