<li>
    Svaka <strong>predstavka treba sadržavati</strong>:
    <ul>
      <li><strong>Naziv tijela javne vlasti</strong> koje je predmet
        predstavke. Obavezno navedite naziv tijela javne vlasti kako
        bi podnesak bio valjan.</li>
      <li><strong>Počinjene nezakonitosti ili nepravilnosti</strong>
        u pravu na pristup informacijama. Podnositelj predstavke obavezno navodi 
        zbog čega je nezadovoljan postupcima tijela javne vlasti vezano uz
        primjenu Zakona o pravu na pristup informacijama. Za lakšu upotrebu,
        sadržaj predstavke smo automatski ispunili. Možete izmjeniti tekst i
        napisati ako imate nešto za dodati vašem prigovoru. Ako nije automatski
        uključeno ispod obrasca, možete navesti link na vaš <%= site_name %>
        zahtjev ili na internetsku stranicu tijela javne vlasti s kojim ćete
        potkrijepiti vaš prigovor.</li>
    </ul>
</li>
<li>
    U vaš podnesak <strong>uključujemo sljedeće informacije</strong>:
    <ul>
      <li><strong>Link na zadnji zahtjev ili tijelo javne vlasti</strong> koji
        ste zadnje otvorili. Potvrdite vide li se ispod obrasca.</li>
      <li><strong>Link na vaš profil</strong> na <%= site_name %>.</li>
      <li><strong>Vaše ime i email adresu</strong> iz vašeg <%= site_name %>
        korisničkog računa kako bi vam inspektor Povjerenika za informiranje
        mogao dostaviti obavijest o provedenom nadzoru tijela.</li>
    </ul>
</li>
