<!-- a href="http://irekia.euskadi.net/?utm_source=tuderechoasaber_es&utm_medium=banner&utm_campaign=irekia%2Bgeneral" target="_blank" style="margin-left: 60px; float: left">
    <img src="/tuderechoasaber-theme/images/partners/euskadi.png"/>
</a -->

    <%= link_to image_tag('/assets/credits/pristupinfo-logo-color.png', :alt => "Povjerenik za informiranje logo"), "http://www.pristupinfo.hr/", :class => 'footer-logo' %>
    <%= link_to image_tag('/assets/credits/ogp-logo-color.png', :alt => "Partnerstvo za otvorenu vlast logo"), "https://vlada.gov.hr/vijesti/partnerstvo-za-otvorenu-vlast-politicka-inicijativa-od-velikog-znacaja-za-demokratski-napredak-drustva/10753", :class => 'footer-logo' %>

<div style="clear:both"></div>
