<%= link_to image_tag('/assets/images/credits/pristupinfo-logo-color.png', :alt => "Povjerenik za informiranje logo"), "http://www.pristupinfo.hr/", :class => 'footer-logo' %>
<%= link_to image_tag('/assets/images/credits/ogp-logo-color.png', :alt => "Partnerstvo za otvorenu vlast logo"), "https://vlada.gov.hr/vijesti/partnerstvo-za-otvorenu-vlast-politicka-inicijativa-od-velikog-znacaja-za-demokratski-napredak-drustva/10753", :class => 'footer-logo' %>

<div style="clear:both"></div>
