<!-- a href="http://irekia.euskadi.net/?utm_source=tuderechoasaber_es&utm_medium=banner&utm_campaign=irekia%2Bgeneral" target="_blank" style="margin-left: 60px; float: left">
    <img src="/tuderechoasaber-theme/images/partners/euskadi.png"/>
</a -->

    <%= link_to image_tag('/credits/mysociety-logo-300x78.jpg', :alt => "MySociety logo"), "http://mysociety.org/", :class => 'footer-logo' %>
    <%= link_to image_tag('/credits/obshtestvo-logo.png', :alt => "Obshtestvo logo"), "http://www.obshtestvo.bg/", :class => 'footer-logo' %>

<div style="clear:both"></div>
