The law and the Information Commissioner all say that an email is sufficient (<a href="<%= help_page_url %>#full_address">more details</a>).
Sometimes public authority will ask for a postal address to deliver official decision with confirmation of receipt; nonetheless if information is being delivered, they should be able to deliver information electronically here.

At the bottom of this page, write a reply to the authority explaining this to them.
