Zakon i Povjerenik za informiranje kažu da je e-mail adresa dovoljna za odgovor tijela javne vlasti za potrebe dostave traženih informacija, uz iznimku da mogu tražiti kućnu adresu samo onda kada moraju dostaviti rješenje preporučenom dostavom (<a href="<%= help_page_url %>#full_address">više detalja</a>).

Na dnu ove stranice, napišite odgovor tijelu javne vlasti te im dajte ovo objašnjenje.
