<% @title = "O projektu" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="introduction">O projektu <%= site_name %> <a href="#introduction">#</a> </h1> 

<p>Izraz „informacije javnog sektora“ odnosi se na podatke koje tijela javne vlasti prikupljaju u okviru svog djelokruga, kao što su gospodarsko-financijski podaci, podaci iz pravosuđa, prostorno-geografske informacije, statističke informacije, različiti registri i baze podataka, a koji imaju potencijal za ponovnu upotrebu u svrhu razvijanja novih proizvoda i usluga, npr. navigacijski sustavi, prometne aplikacije, vremenske prognoze, financijske usluge, znanstvena i druga istraživanja i slično.</p>
<p>Ovim projektom želimo omogućiti građanima transparentniji i lakši pristup informacijama tijela javne vlasti putem interneta. Podnošenje zahteva za pristup informacijama putem interneta odnosno elektronskom komunikacijom ima istu težinu kao i papirnato pisani zahtjevi. Tijelo javne vlasti zakonski je obavezano da odgovori, a kada ne odgovore u roku, platforma ImamoPravoZnati na vrijeme će vas obavijestiti. ImamoPravoZnati služi kao trajna arhiva svih zahtjeva za pristup informacijama koji su podneseni putem ove internetske stranice a isto tako i odgovora tijela javne vlasti. Ovom platformom želimo vam olakšati traženje informacije od javnog interesa, a istovremeno želimo doprinijeti transparentnosti i političkoj odgovornosti tijela javne vlasti. Upravo zbog toga je sva komunikacija na platformi ImamoPravoZnati javnog karaktera.</p>
<p>Na ovaj način svaka javna informacija dobivena od tijela javne vlasti postaje dostupna svima, a razgovor je lako pratiti. U 2013. godini građani su podnjeli 155.000 zahtjeva za pristup informacijama - prijavilo je 50% tijela javne vlasti koji su podnijeli izvještaj, a realno brojka bi mogla biti mnogo veća.</p>
<p>Platformu održavaju volonteri ekspertne skupine Code for Croatia uz stručno savjetovanje GONG-a.</p>
</div>