<% @title = "Zahvale onima kojima je potrebno zahvaliti" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>

<dt id="thanks">Koji ljudi su stvorili <%= site_name %>? <a href="#thanks">#</a> </dt>
<dd>Uf, skoro svi (a <a href="http://codeforcroatia.org/volunteer">možda i ti</a>)! 
<ul>
<li>
    <a href="http://www.gong.hr">Jelena Berković</a> 
    jer je pokrenula komunikaciju o pravu na pristup informacijama.
</li>
<li>
    Danela Žagar
    jer je razumijela pristup informacijama kada je ta ideja bila još u povojima.
</li>
<li>
    <a href="http://rational.international/">Bojan Opačak</a>
    kao začetniku ideje o prvoj Hrvatskoj platformi za pristup informacijama, hvala za sve savjete u dizajnu. Hvala što si zadržao pribranost dok su stizali kilogrami pošte s rješenjima za pristup informacijama u papirnatom obliku.
</li>
<li>
    <a href="#tbd">Gordon</a>
    hvala za super dizajnirani logo za ImamoPravoZnati na CodeAcross i OpenDataDay 2015 hackathonu.  
</li>
<li>
    Louise
    na hookovima, ruby savjetima i strpljenju!
</li>
<li>
    Hvala ekipi volontera koji su adaptirali ove internetske stranice na hrvatski jezik - Bojan, Danela, Mihovil, Zana, tbd.... Miroslav.
</li>
<li> 
    Posebne zahvale testerima (<a href="#tbd">tbd</a>), 
    Sonja, Lana, Vanja za rano korištenje stranice i davanje povratne informacije (i/ili pravnog savjeta!), također i svim drugim korisnicima i ljudima koji su ju testirali.
</li>
<li>
    Nevjerojatna ekipa volontera koji rade na stranici, odgovara na vaše e-mailove podrške, održavaju baze podataka o tijelima javne vlasti i <a href="http://">još toliko toga</a>.
    Hvala to Lani, Sonja, Vanja, Miroslav.
</li>
<li>
    Volonteri koji su osigurali zakrpe na kodovima.
</li>
<li>
    Svima koji su nam pomogli pronaći e-mail adrese službenika za informiranje.
</li>
<li>
    Ne bismo mogli napraviti ništa od navedenog bez tih ludih ljudi koji volontiraju.
</li>
<li>
    I svi vi koji redovno koristite Imamo pravo znati za pristup informacijama.
</li>
<li>
    Naposljetku, svim službenicima i dužnosnicima koji su odgovarali na brojne zahtjeve napravljene putem stranice. Njihova marljivost, strpljenje i profesionalnost jest ono što zapravo sačinjava informacije koje vidite ovdje. 
</li>
</ul>
Hvala im na pomoći oko stvaranja Imamo pravo znati. 
Svi ste vi zvijezde.
</dd>

    <dt id="helpus">Mogu li ja pomoći? <a href="#helpus">#</a> </dt>
    <dd>
        <p>Da, molim! Mi smo izgrađeni od naših podupiratelja i volontera.</p>
        <ul>
        <li>Možete napraviti donaciju <a href="http://www.open.hr/o-hropenu/opci-podaci/">[1]</a> <a href="http://gong.hr/hr/o-gong-u/sto-je-gong/">[2]</a>. Mi smo neprofitne organizacije civilnog društva.</li>
        <li>Pomozite ljudima pronaći uspješne zahtjeve i pratite provođenje pristupa informacijama -  
        <a href="/categorise/play">zaigrajte igru ocjenjivanja</a>. </li>
        <li>Pronađite e-mail adrese službenika za informiranje za <a href="/help/requesting#missing_body">tijela javne vlasti za koje nemamo kontakt podatke</a>.</li>
        <li>Napišite post na blogu o Imamo pravo znati ili o zanimljivom zahtjevu kojeg ste našli. Pišite o tome na forumu na kojem ste često. Recite prijateljima o tome.</li> 
        <li>Ako ste programer, zatražite izvorni kod našeg glavnog projekta, <a href="http://alaveteli.org">Alaveteli</a>
        te nam recite o zakrpama koje možemo napraviti. Napravljen je u Ruby on Rails.
        <li>Prijavite se u tim podrške za savjetovanje.</li>
        <li>Prijavite se u tim podrške za savjetovanje.</li> 
        <li>Pročitajte više na <a href="http://codeforcroatia.org/volunteer">volontiranje u Code for Croatia</a>.
        </ul>
    </dd>
</dl>

<div id="hash_link_padding"></div>
</div>
