<% @title = "Credit where credit is due" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>

<dt id="thanks">Which people made <%= site_name %>? <a href="#thanks">#</a> </dt>
<dd>Oh, nearly everyone (and <a href="http://www.mysociety.org/helpus">maybe you too</a>)! 
<ul>
<li>
    <a href="http://www.yrtk.org">Heather Brooke</a> 
    (<a href="http://www.guardian.co.uk/politics/2008/mar/29/houseofcommons.michaelmartin?gusrc=rss&amp;feed=worldnews">vampy!</a>) has
    been pushing the idea of a UK FOI archive for years now.
</li>
<li>
    Both Phil Rodgers and <a href="http://www.flourish.org/blog/">Francis Irving</a>
    entered it in a mySociety competition for ideas for public interest websites to build.
</li>
<li>
    <a href="http://www.mysociety.org/2006/09/27/the-mysociety-call-for-proposals-the-winner-and-runners-up/">It won</a>, 
    and then Chris Lightfoot (<a href="http://mk.ucant.org/archives/000129.html">RIP :(</a>) 
    thought up the wheeze of intercepting email responses to requests and
    automatically publishing them.  
</li>
<li>
    Tom Steinberg got the cash to pay for the site from
    <a href="http://www.jrrt.org.uk/">a dead chocolate mogul</a> (<em>thank you!</em>) ...
</li>
<li>
    ... so that Francis Irving, Angie Ahl, Tommy Martin, Louise Crow, Matthew Somerville
    and Tom Steinberg could do the complex mixture of design and coding to build
    what you see today. 
</li>
<li> 
    Thanks particularly to Julian Todd (<a href="http://www.freesteel.co.uk/wpblog/">great blog!</a>), 
    Francis Davey, and Etienne Pollard for using the site early on and giving
    feedback (and/or legal advice!), and also to all our other users and
    testers.  
</li>
<li>
    The amazing team of volunteers who run the site, answer your support
    emails, maintain the database of public authorities and 
    <a href="http://www.mysociety.org/2009/10/13/behind-whatdotheyknow/">so much more</a>.
    Thanks to John Cross, Ben Harris, Adam McGreggor, Alex Skene,
    Richard Taylor.
</li>
<li>
    Volunteers who have provided patches to the code - thanks Peter Collingbourne
    and Tony Bowden. 
</li>
<li>
    Everyone who has helped look up FOI email addresses.
</li>
<li>
    We couldn't do any of this without those
    <a href="http://www.ukcod.org.uk/UKCOD_Trustees">crazy people</a> who volunteer,
    amongst many other things, to do the accounts and fill in our VAT return.
</li>
<li>
    Finally, all the officers and servants who have answered the many requests
    made through the site. Their diligence, patience and professionalism is
    what has actually made the information that you see here. Thank them for
    helping make Government more transparent.
</li>
</ul>
You're all stars.
</dd>

    <h2>Instituciones públicas</h2>
    <p>Si eres una institución pública, puedes ser entidad colaboradora. No puedes darnos dinero pero podemos colaborar para hacer que la web sea mejor y más colaborativa. Estas son las <a href="/tuderechoasaber-theme/docs/colaboracion.pdf">condiciones de colaboración</a></span>.</p>

    <%= render :partial => 'help/public_partners' %>


<div id="hash_link_padding"></div>


</div>
