<% @title = "Credits (e ringraziamenti)" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>

<dt id="thanks">Chi ha realizzato <%= site_name %>? <a href="#thanks">#</a> </dt>
<dd>Oh, un sacco di persone (e forse anche tu</a>)!
<ul>
<li>
    Innanzitutto un enorme ringraziamento va a <a href="https://www.mysociety.org/">mySociety</a> e al suo fondatore Tom Steinberg: mySociety ha creato Alaveteli, il software su cui si basa la piattaforma, e dato supporto tecnico ed economico alla nascita di questa piattaforma
</li>
<li>il team di mySociety che ci ha assistito: Louise Crow (da Porto a Londra), Gareth Rees, Ian Chard e Jen Bramley
</li>
<li>il team tecnico italiano: Ivan Prignano, Ivan Vaghi e il team di <a href="http://earlymorning.com/">Early Morning</a>
</li>
<li>l'insostituibile <a href="https://twitter.com/diritto2punto0">Ernesto Belisario</a>, il nostro leguleio 2.0</li>
<li>David Cabo ed Eva Belmonte, <a href="http://www.civio.es/">Civio.es</a> (David ha sviluppato il nostro omologo spagnolo TuDerechoaSaber.es)</li>
<li>Helen Darbishire e Victoria Anderica, pioniere dell'accesso e della trasparenza con la loro <a href="http://www.access-info.org/">Access Info Europe</a> e fonte inesauribile di consigli e sostegno</li>
<li><a href="http://www.opensocietyfoundations.org/">Open Society Foundations</a>, che dal 2012 crede in Diritto di Sapere</li>
<li><a href="http://www.yrtk.org">Heather Brooke</a>, che (nel Regno Unito) è stata la prima a suggerire l'idea di un archivio online per le richieste di accesso.
</li>
<li>tutti coloro che hanno dato aiuto e suggerimenti
</li>
<li>tutti coloro che hanno fatto, fanno e faranno le richieste di accesso.
</li>
<li>
    Infine un ringraziamento a tutti coloro che, dall'interno delle amministrazioni, rispondono e risponderanno alle richieste di accesso fatte attraverso il sito (o autonomamente dai cittadini). 
    Il loro impegno, pazienza e professionalità fanno in modo che i cittadini ottengano le informazioni richieste. 
    Ed è anche grazie a loro che l'amministrazione pubblica è più trasparente.
</li>
</ul>

</dd>

<dt id="helpus">Come posso aiutare? <a href="#helpus">#</a> </dt>
<dd>
    <p>In un sacco di modi! Il lavoro dei volontari è per noi prezioso: <a href="https://chiedi.dirittodisapere.it/help/contact">scrivici</a> e dicci qualcosa di te.</p>Intanto ecco alcune cose che puoi fare:
    <ul>
    <li>Aiutare altri a trovare richieste che hanno già ricevuto risposta o monitorare le risposte delle varie amministrazioni o, ancora, dare una mano a <a href="/categorise/play">catalogare lo stato delle richieste</a>.
  </li>
    <li>Trovare gli indirizzi per le richieste di accesso <a href="/help/requesting#missing_body">delle amministrazioni mancanti</a>.</li>
    <li>Scrivere sul tuo blog un post su <%= site_name %> o su una richiesta interessante che hai trovato.
    Scrivilo sui forum che frequenti, dillo ai tuoi amici... insomma, fai girare la voce!</li> 
    <li>Se sei un programmatore e sai usare Ruby on Rails dai un'occhiata al software <a href="http://alaveteli.org">Alaveteli</a> e facci sapere come si può migliorare.
    </ul>
</dd>


<div id="hash_link_padding"></div>


</div>
