<% @title = "Pravo na informacije" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <!-- <h1 id="foi"><%= @title %> <a href="#foi">#</a> </h1> -->
    <p><strong>Pravo na pristup informacijama</strong> je temeljno ljudsko pravo, zaštićeno brojnim međunarodnim konvencijama te samim Ustavom RH (čl. 38., st.4.) i Zakonom o pravu na pristup informacijama (NN 25/13). S obzirom da ostvarenje prava na pristup informacijama doprinosi većoj odgovornosti u radu tijela javne vlasti i efikasnijoj borbi protiv korupcije, ono je pretpostavka demokratizacije društva te sredstvo koje građanima pruža mogućnost da dođu do informacija koje su im potrebne za ostvarivanje njihovih prava. Pravo na pristup informacijama i ponovnu uporabu informacija štiti, prati i promiče <strong>Povjerenik za informiranje</strong> kao neovisno državno tijelo. Povjerenik rješava žalbe i provodi inspekcijski nadzor nad tijelima javne vlasti te obavlja druge poslove vezane za primjenu Zakona o pravu na pristup informacijama. O Povjereniku i pravu građana na pristup informacijama možete se informirati na <a href="http://www.pristupinfo.hr">pristupinfo.hr</a>.</p>

    <p>Pravo na pristup informacijama ostvaruje se proaktivnom objavom informacija na internetskim stranicama tijela javne vlasti, uključujući i mogućnost sudjelovanja u donošenju propisa u postupku savjetovanja sa zainteresiranom javnošću, ili upućivanjem zahtjeva za pristup informacija tijelu javne vlasti. Građani i pravne osobe zahtjev za pristup informacijama kao i zahtjev za ponovnu uporabu informacija mogu podnijeti ili neposredno slanjem zahtjeva tijelu javne vlasti ili putem 
    <i><%= site_name %></i>.</p>

    <p>Popis tijela javne vlasti obuhvaća tijela koja su obveznici primjene Zakona o pravu na pristup informacijama i kojima se zahtjev može podnijeti na gore opisan način. Popis sadrži podatke o tijelima javne vlasti i njihovim službenicima za informiranje te kontakt podatke i objavljen je na internetskoj stranici Povjerenika za informiranje, portalu <a href="http://data.gov.hr">data.gov.hr</a> te se koristi za podnošenje zahtjeva putem <i><%= site_name %></i>.</p>

    <p>U slučaju da tijelo javne nije riješilo zahtjev za pristup informacijama u propisanim rokovima  nastala je tzv. 'šutnja uprave' te korisnik ima pravo <strong>izjaviti žalbu</strong> Povjereniku za informiranje. Za izjavljivanje žalbe je bitno je da je protekao zakonski rok od 15 dana, odnosno 30 dana (ako je tijelo javne vlasti produžilo rok za rješavanje zahtjeva, u zakonu propisanim slučajevima) od uredno podnesenog zahtjeva.</p>

    <p>Ukoliko je tijelo javne vlasti odbilo zahtjev za pristup informacijama iz razloga navedenih u Zakonu o pravu na pristup informacijama, podnositelj zahtjeva može izjaviti žalbu protiv toga rješenja. Žalba se izjavljuje Povjereniku za informiranje u roku od 15 dana od dana dostave rješenja i rješava se u rokovima od 30, 60 ili 90 dana. Visoki upravni sud osigurava sudsku zaštitu protiv odluka ili šutnje Povjerenika.</p>

    <p><strong>Ponovna uporaba informacija</strong>strong> je Zakonom o pravu na pristup informacijama definirana kao uporaba informacija tijela javne vlasti od strane fizičkih ili pravnih osoba, u svrhu drukčiju od izvorne svrhe u okviru javnog posla za koji su te informacije izrađene. Naime, tijela javne vlasti u ispunjavanju svojih javnih dužnosti prikupljaju, proizvode, reproduciraju i distribuiraju određene informacije koje se stvaraju uz pomoć javnih, proračunskih sredstava, stoga ih treba iskoristiti na najbolji mogući način kako bi se potaknulo gospodarstvo ili bolje iskoristilo njihov potencijal. Primjer <strong>informacija javnog sektora</strong> predstavljaju razni gospodarsko-financijski podaci, podaci iz pravosuđa, prostorno-geografske informacije, statističke informacije, različiti registri i baze podataka, koji imaju potencijal za ponovnu uporabu u svrhu razvijanja novih proizvoda i usluga (npr. navigacijski sustavi, prometne aplikacije, vremenske prognoze, financijske usluge, znanstvena i druga istraživanja i slično). Kada su podaci namijenjeni ponovnoj uporabi javno objavljeni na Internet stranici tijela javne vlasti u strojno čitljivom obliku i otvorenom formatu, tako da ih svatko može slobodno koristiti u komercijalne ili nekomercijalne svrhe, radi se o otvorenim podacima. Jedan od portala koji služi za objavu otvoreni podataka je portal <a href="http://data.gov.hr">data.gov.hr</a>.</p>
    
<p><strong>Ako već niste</strong>, pročitajte <a href="/help/about">o ovom projektu</a> --&gt;
<br><strong>Ili pak</strong>, kako <a href="/help/requesting">podnijeti zahtjev</a> --&gt;
</p>

</div>