<% @title = "Zašto imamo pravo znati" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1><%=@title %></h1>
  <h2>Koji su vodeći principi <%= site_name %>?</h2>

  <dl>
    <dt id="beliefs">
      Uvjerenja
      <a href="#beliefs">#</a>
    </dt>
    <dd>
      <ul>
        <li>
          Vjerujemo da bi jednostavan pristup vladinim informacijama trebao biti
          univerzalno pravo; da pomogne ljudima da se osjete važnima i pomaže u
          izgradnji boljih, manje korumpiranih i reaktivnijih država.
        </li>
        <li>
          Vjerujemo da građani imaju pravo zatražiti informacije koje im pomažu
          u procjeni učinkovitosti i morala tijela koja financiraju njihovi porezi.
        </li>
        <li>
          Vjerujemo da je transparentnost važna jer obeshrabruje loše upravljanje,
          pomaže građanima da shvate kako se upravlja javnim stvarima a građani
          je mogu koristiti za vršenje pritiska nad javnopravnim tijelima.
        </li>
        <li>
          Vjerujemo da ljudi imaju jednako pravo na informaciju prema zakonu i
          da bi se to pravo trebalo jednako primijeniti na sve.
        </li>
        <li>
          Vjerujemo da aspekti zakona i postupaka o transparentnosti u Republici
          Hrvatskoj ne služe građanima na najbolji mogući način, a iako nismo
          prvenstveno grupa za kampanje, iskoristit ćemo prilike da istaknemo
          ove probleme.
        </li>
      </ul>
    </dd>
    <dt id="goals">
      Ciljevi
      <a href="#goals">#</a>
    </dt>
    <dd>
      <ul>
        <li>
          Omogućiti ljudima što lakše dobivaju informacije od tijela javne
          vlasti u Republici Hrvatskoj.
        </li>
        <li>
          Izgraditi javnu arhivu podataka dobivenih prema Zakonu o pravu na
          pristup informacijama (ZPPI).
        </li>
        <li>
          Zalagati se za veću transparentnost javnih institucija Republike
          Hrvatske.
        </li>
      </ul>
    </dd>
    <dt id="protocols">
      Protokoli i načela
      <a href="#protocols">#</a>
    </dt>
    <dd>
      <ul>
        <li>
          Gdje god je to moguće, odluke koje donosimo u vezi sa sadržajem na
          internetskoj stranici i radom internetske stranice trebaju biti javne.
        </li>
        <li>
          Kroz pokretanje naše internetske stranice promičemo Zakon o pravu na
          pristupu informacijama (ZPPI) i pokazujemo kako se može koristiti.
        </li>
        <li>
          Pružamo alate koji omogućavaju korisnicima da daju kontekst zahtjevima
          i odgovorima.
        </li>
        <li>
          Zahtjevima za pristup informacijama i odgovorima dajemo trajni,
          vjerodostojni URL na internetu koji je lako citirati.
        </li>
        <li>
          Želimo transparentnost tijela javne vlasti kada djeluju po Zakonu o
          pravu na pristup informacija (ZPPI).
        </li>
        <li>
          <%= site_name %> je uglavnom automatiziran no ponekada određene
          aktivnosti rade korisnici ili tijela javne vlasti. Upravno djelovanje
          je iznimka, a ne pravilo.
        </li>
        <li>
          Poduzimamo korake da minimiziramo radno opterećenje za one koji
          administriraju internetsku stranicu: gdje god pronađemo moguća
          tehnička rješenja problema, bez potrebe da se oslanjamo na ručnu
          intervenciju.
        </li>
        <li>
          Cilj nam je imati što veći udio objavljenih odgovora za predmete u
          pristupu informacijama.
        </li>
      </ul>
    </dd>
  </dl>
  <div id="hash_link_padding"></div>
</div>
