<% @title = "Your privacy" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

<dl>

<dt id="indirizzo_email">Il mio indirizzo email viene mostrato a chi riceve la richiesta? <a href="#indirizzo_email">#</a> </dt>

<dd><p>Non mostreremo il tuo indirizzo a nessuno, a meno che non via sia un obbligo di legge al riguardo. 
Questo vale anche per la pubblica amministrazione a cui stai inviando la richiesta. Vedranno solo un indirizzo email che termina con @chiediamo.org, che sarà specifico per quella richiesta.
  </p>
<p>Se spedisci un messaggio a un altro utente del sito, allora il tuo indirizzo verrà mostrato (e prima ti verrà segnalato).</p>
</dd>

<dt id="spam">Inizierete a inondarmi con il solito, fastidiosissimo spam <a href="#spam">#</a> </dt>
<dd>No. 
Dopo esserti iscritto a Chiediamo, ti spediremo solo email relative alle richieste che hai fatto, un email per avvisarti dei tuoi dati relativi alle iscrizioni e altre cose che avrai specificamente autorizzato. Non venderemo né daremo il tuo indirizzo a nessuno, a meno che non vi sia un obbligo di legge o che tu stesso ce lo chieda.  
</dd>

<dt id="richiesta_pubblica">Perché il mio nome e indirizzo sono visibili sul sito? <a href="#richiesta_pubblica">#</a> </dt>

<dd>
<p>Pubblichiamo le tue richieste sul sito in modo che tutti possano vederle e utilizzare le informazioni che hai trovato. 
Di solito <a href="#delete_requests">non cancelliamo richieste</a>).
</p>
<p>
Il tuo nome è legato alla tua richiesta e per questo motivo viene pubblicato. 
Ci sembra giusto mostrare il nome di chi fa la richiesta e del pubblico ufficiale che vi risponde. 
Usare il tuo vero nome ti può inoltre aiutare ad entrare in contatto con altre persone che hanno lo stesso problema e che possono volerti aiutare. 
</p>
<p>Per legge, affinché la richiesta di accesso sia valida, devi usare il tuo vero nome. 
Se per qualche motivo non vuoi che il tuo nome sia pubblicato, guarda ai prossimi punti per soluzioni alternative. 
</p>
</dd>

<dt id="real_name">Posso usare uno pseudonimo? <a href="#real_name">#</a> </dt>


<dd>
<p>Per legge devi usare il tuo vero nome affinché la tua richiesta sia valida. 
Per ulteriori informazioni leggi il nostro <a href="http://www.dirittodisapere.it/il-manuale/"> manuale sull'accesso</a> (aggiornato ad aprile 2014)
</p>

<p>Ci sono alcune possibili alternative:</p>


<ul>
<li>Usare una forma diversa del tuo nome: usa anche il tuo secondo nome o usa la forma estesa se sei conosciuto con un diminutivo (non puoi usare il solo nome o le iniziali);
</li>
<li>Per le donne sposate: usare il cognome da nubile;</li>
<li>Se hai un particolare problema per cui non vuoi utilizzare il tuo nome, <a href="/help/contact">scrivici</a>: ti contatteremo e cercheremo di trovare una soluzione adeguata. 
Ma chiedilo solo se è davvero necessario: purtroppo non abbiamo la possibilità di farlo per tutti!  
</ul>

<p>Nota: per favore, non utilizzare l'identità di un'altra persona per fare la richiesta.</p>

</dd>

<dt id="indirizzo_privato">Mi hanno chiesto l'indirizzo di casa! <a href="#indirizzo_privato">#</a> </dt>

<dd>
<p>Verificare la legge italiana</p>

</dd>

<dt id="posta">No, no, vogliono l'indirizzo per spedirmi una risposta cartacea! <a href="#posta">#</a> </dt>

<dd>
<p>verificare legge italiana</p>


</dd>

<dt id="delete_requests">Potete cancellare la mia richiesta o nascondere il mio nome?  <a href="#delete_requests">#</a> </dt>

<dd>

<p>Chiediamo è un archivio pubblico e permanente delle richieste di accesso. 
Anche se la risposta a una richiesta non ti serve pi, potrebbe essere utile a qualcun'altro. 
Per questo motivo non cancelliamo mai le richieste e relative risposte.  

</p>

<p>In casi eccezionali possiamo rimuovere o modificare il tuo nome (<a href="#takedown">vedi prossima domanda</a>) e, analogamente, possiamo fare un'eccezione per altre informazioni personali.  
Se sei preoccupato per questo, guarda la sezione sugli <a href="#real_name">pseudonyms</a>. 

</p>

</dd>

<dt id="cancellazione">Potete cancellare alcune informazioni che mi riguardano? <a href="#cancellazione">#</a> </dt>

<dd>

<p>Se sul sito dovessi notare tue informazioni personali che non vuoi siano visibili, <a href="/help/contact">scrivici</a>. 
Spiega esattamente quale dato vuoi far cancellare, e per quale motivo, e dove si trova sul sito. 
</p>

<p>Se si tratta di dati sensibili che sono stati pubblicati per errore, li rimuoveremo immediatamente. 
Di solito prendiamo in considerazione solo richieste che arrivino direttamente dalla persona interessata, ma – in caso di dati sensibili – prenderemo in considerazione le segnalazioni di altre persone.</p>

<p>Mostrare nome e cognome del pubblico ufficiale che risponde a una richiesta ha un forte interesse pubblico.
Cancelleremo questi nomi solo in circostanze eccezionali, quando mostrare questi dati mette a rischio la sicurezza dell'individio. 
Se sei un pubblico ufficiale ed è questa la circostanza, devi mandarci la richiesta tramite il suo superiore.
La richiesta deve dimostrare che il rischio percepito è superiore all'interesse pubblico. </p>

<p>Public interest test --> verificare legge italiana.</p>

</dd>


</dl>

<p><strong>Per i pubblici ufficiali che ricevono richieste di accesso</strong>: <a href="/help/officers">qui</a> troverete informazioni utili --&gt;

<div id="hash_link_padding"></div>


</div>
