@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,700);

/** LAYOUT **/
body {
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 12px;
    line-height: 1.5;
}
    body.front {
        background: none;
    }

#content {
    padding: 0px 60px;
    margin: auto;
}

#wrapper {
    padding-top: 10px;
    margin-bottom: 50px;
}

.feed_link a,
.act_link a,
#header_right > a {
    color: #69952f;
    font-size: 12px;
    text-decoration: none;
}
#header_right a:hover {
    text-decoration: underline;
}


#everypage {
    background-color: #666;
    opacity: 0.95;
    border-color: #FFF;
    border-radius: 0;
    border-left: none;
    border-rigth: none;
    left: 0;
    width: 99%;
    padding-right: 1%;
    color: #EEE;
    font-weight: bold;
}


/** HEADER **/
#banner {
    background: #ECECEC;
    border: none;
    height: 120px;
    position: relative;
}

#banner_inner {
    height: 120px;
}
    #banner_inner a:hover {
        text-decoration: underline;
    }

#logo {
    position: absolute;
    top: 20px;
}

#navigation_search {
    top: 50px;
    visibility: hidden;
}

div.lang {
    top: 23px;
    color: #69952f;
    font-size: 12px;
    text-transform: capitalize;
}
    div.lang a {
        color: #b0b0b0;
        text-decoration: none;
    }

#logged_in_bar {
    top: 25px;
    right: 0px;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 8px 1px 8px;
    height: 19px;
    background: #b0b0b0;
    border-radius: 5px;
}
    #logged_in_bar, #logged_in_bar a, #logged_in_bar a:visited {
        color: #FFF;
        text-decoration: none;
    }
    #logged_in_bar a {
        margin-left: 5px;
        margin-right: 4px;
    }


/** NAVIGATION BAR **/
#topnav {
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin-left: 0px;
    top: 90px;
}
    #topnav ul li {
        padding: 6px 8px 5px 8px;
        margin-right: 8px;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    #topnav ul li a {
        color: #69952f !important;
    }


/** MAIN SITE **/
h1, h1 a {
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    color: #414141;
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    text-decoration: none;
}

h2, h2 a {
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    color: #414141;
    font-size: 18px;
    font-weight: 700;
}

h3, h3 a {
    font-family: Verdana, 'Helvetica Neue', Arial;
    color: #414141;
    font-size: 14px;
    font-weight: bold;
}


/** HELP **/
#left_column_flip {
    margin-top: 10px;
    padding-left: 30px;
    margin-right: 30px;
    width: 600px;
}
    #left_column_flip li {
        padding-bottom: 8px;
    }

#right_column_flip {
    text-align: left;
    width: 180px;
    margin-top: 32px;
}
    #right_column_flip h3 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #right_column_flip ul {
        margin-top: 0px;
        margin-bottom: 5px;
        padding-left: 0px;
        list-style: none outside none;
    }

.controller_help {
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}
    .controller_help ul {
        margin-left: 10px;
    }
    .controller_help h3 {
        color: #69952f;
        text-decoration: none;
        margin-top: 20px !important;
        font-weight: normal;
    }
    .controller_help #right_column_flip a {
        color: #444444;
        text-decoration: none;
        font-weight: normal;
    }
    .controller_help #right_column_flip a:hover {
        color: #444444;
        text-decoration: underline;
    }

/** FRONTPAGE **/

.front #wrapper, .front #content {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#frontpage-intro {
    width: 960px;
    margin: auto;
    position: relative;
}

#frontpage-intro-lead {
    width: 616px;
    height: 280px;

    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    line-height: 1.1;

    background-color: #ECECEC;
    background: url("/alavetelitheme/images/frontpage-lead-background.png") no-repeat scroll 0 0 transparent;
    float: left;
    margin: 50px 12px 30px 12px;
    padding: 20px 0px 20px 0px;
}
    .frontpage-lead-cell {
        float: left;
        width: 114px;
        height: 130px;
        padding-left: 30px;
        padding-right: 10px;
    }
    .frontpage-lead-cell.short {
        height: 60px;
        margin-top: -30px;
    }
    #frontpage-intro-lead h2 {
        color: #69952F;
        font-size: 22px;
        font-weight: 600;
        margin-top: 35px;
    }
    .frontpage-lead-enum {
        color: #3C3C3B;
        font-size: 118px;
        font-weight: 700;
        margin-top: -5px;
    }
    .frontpage-lead-text {
        color: #3C3C3B;
        font-size: 15px;
        font-weight: 600;
        margin: 0px;
    }
    #frontpage-lead-button a {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
    }

    #frontpage-lead-button {
        margin-left: -10px;
        padding: 7px 10px 7px 10px;

        background-color: #69952f;
        border-radius: 5px;
        border-bottom: 2px solid #C6C6C5;
    }

#frontpage-intro-sidebar {
    width: 260px;
    float: left;

    margin: 50px 12px 0px 12px;
    padding: 0px 18px;
}

#frontpage-share-buttons {
    float: left;
    margin: 15px 12px 0px 12px;
}
    #frontpage-share-buttons iframe {
        float: left;
    }
    #frontpage-share-buttons span {
        float: left;
    }

#frontpage-lead-ad {
    background-color: #69952f;
    float: left;
    border-radius: 5px;
    padding: 0px 12px 0px 12px;
    margin-bottom: 10px;

    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    color: #ECECEC;
    text-align: center;
    line-height: 1.1;
}
    #frontpage-lead-ad h4 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    #frontpage-lead-ad a {
        color: #ECECEC;
        text-decoration: underline !important;
        font-weight: bold;
    }

#frontpage-content {
    background-color: #F5F5F5;
}

#frontpage-inner-content {
    width: 960px;
    margin: auto;
    position: relative;
    padding-bottom: 20px;
}

#frontpage-search-box {
    background-color: #D9D9D9;
    float: left;
    margin: 20px 12px 20px 12px;
    padding: 12px 18px;
    border-radius: 5px;
    width: 900px;
}
    #frontpage-search-box h4 {
      font-family: 'Open Sans', 'Helvetica Neue', Arial;
      font-weight: 600;
      font-size: 18px;
      color: #3C3C3B;
      line-height: 1.1;

      width: 260px;
      float: left;
      margin: 10px 0px 10px 30px;
    }

#frontpage-search-form {
    float: left;
    margin: 10px;
}
    #frontpage-search-form #search_form {
        margin-bottom: 10px;
    }

    #frontpage-search-form #query {
        height: 24px;
        width: 430px;
        font-size: 18px;
    }

    #frontpage-search-form input[type="submit"] {
        background: url("/alavetelitheme/images/button-gradient.png") repeat scroll 0 0 transparent;
        height: 34px;
        width: 100px;
        font-size: 16px;
        border-radius: 6px;
    }


/** GENERAL **/
.request_listing span.head a,
.user_listing span.head a,
.body_listing span.head a {
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    font-size: 16px;
    color: #69952f;
}

a,
.request_listing a,
.body_listing a,
.user_listing a {
    color: #69952f;
    text-decoration: none !important;
}
    a:hover,
    .request_listing a:hover,
    .body_listing a:hover,
    .user_listing a:hover {
        color: #69952f;
        text-decoration: underline !important;
    }

form input[type="submit"], a.link_button_green, a.link_button_green_large {
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    font-weight: 600;
    background: url("/alavetelitheme/images/button-gradient.png") repeat scroll 0 0 transparent;
}

form input[type="submit"] {
    padding: 0 11px;
}


/** SIGNUP **/
#sign_together .form_button {
    margin-left: 110px;
}

#signup .form_item_note,
#signup .form_checkbox,
#signin .form_note,
#signin .form_checkbox {
    font-size: 0.9em;
    margin-left: 110px;
    width: 270px;
}

#sign_together input[type="text"],
#sign_together input[type="password"] {
    width: 240px;
}

#middle_strip {
    display: none;
}

#signin-successful {
    text-align: center;
}

#change_password p, #change_password div {
    clear: both;
}

/** PUBLIC BODIES LISTING **/
#public_body_index #left_column_flip h2,
#public_body_index #left_column_flip p {
    display: none;
}

#public_body_query {
    width: 360px;
}

/** REQUEST **/
p.subtitle {
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 15px;
    color: #444444; /* XXX */
}

p.public-body-name-prefix {
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: -20px;
    color: #444444; /* XXX */
}

#stepwise_make_request {
    background: none;
    width: 480px;
    margin-bottom: 10px;

    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 16px;
    color: #444444; /* XXX */
}
    #stepwise_make_request strong {
        color: #69952f;
    }

.date_added {
    display: none;
}

#request_header {
    background: none;
    width: 630px;
}
    #request_header_body h3,
    #request_header_body .form_item_note {
        display: none;
    }
    #request_header_body #request_header_text {
        font-size: 1em;
    }

.form_item_note {
    width: 510px;
}

#request_search_ahead_results {
    font-size: 1em;
    margin-left: 110px;
    margin-top: 10px;
}

#request_header input,
#request_form textarea {
    width: 500px;
}

#request_advice {
    margin-right: -30px;
}

#public_body_actions {
    display: none;
}

div.correspondence {
    width: 540px;
    background: none repeat scroll 0 0 #ECECEC;
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 12px !important;
}

div.comment_in_request {
    width: 490px;
    font-size: 12px !important;
    background: #FBFBFB;
}

div.outgoing.correspondence {
    background: none repeat scroll 0 0 #F4F5F6;
    font-size: 12px !important;
}

div[id|="outgoing"] p,
div[id|="incoming"] p {
    font-size: 1em;
}

#link_box {
    border: 1px solid #777;
    opacity: 1;
}

#link_box .close-button {
    background-color: #777;
}

#follow_count {
    color: #69952f;
}


/** REQUEST FILTER **/
#filter_requests_form {
    width: 660px;       /* Need some extra space for types of requests */
    margin-top: 15px;
}

#request_form label,
label.form_label {
    color: #69952f;
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 14px;
    font-weight: bold;
}


/** REQUEST STATES
**/
.icon_waiting_response {
    background-image: url("/alavetelitheme/images/states/icon_waiting_response.gif");
    color: #009A9D;
}
.icon_waiting_clarification {
    background-image: url("/alavetelitheme/images/states/icon_waiting_clarification.gif");
    color: #79BB59;
}
.icon_gone_postal {
    background-image: url("/alavetelitheme/images/states/icon_gone_postal.gif");
    color: #009A9D;
}
.icon_not_held {
    background-image: url("/alavetelitheme/images/states/icon_info_not_held.gif");
    color: #F19100;
}
.icon_rejected {
    background-image: url("/alavetelitheme/images/states/icon_info_refused.gif");
    color: #E10613;
}
.icon_successful {
    background-image: url("/alavetelitheme/images/states/icon_successful.gif");
    color: #79BB59;
}
.icon_partially_successful {
    background-image: url("/alavetelitheme/images/states/icon_partially_successful.gif");
    color: #F19100;
}
.icon_internal_review {
    background-image: url("/alavetelitheme/images/states/icon_review_requested.gif");
    color: #009A9D;
}
.icon_error_message {
    background-image: url("/alavetelitheme/images/states/icon_error_message.gif");
    color: #858585;
}
.icon_requires_admin {
    background-image: url("/alavetelitheme/images/states/icon_requires_admin.gif");
    color: #858585;
}
.icon_user_withdrawn {
    background-image: url("/alavetelitheme/images/states/icon_user_withdrawn.gif");
    color: #E10613;
}
.icon_unsatisfactory_response {
    background-image: url("/alavetelitheme/images/states/icon_info_refused.gif");
    color: #E10613;
}

/* TODO: Missing from designer
.icon_waiting_classification {
.icon_waiting_response_overdue {
.icon_waiting_response_very_overdue {
*/


/** MODAL SIGN-IN **/
#signin-successful,
#signin-successful a {
    font-family: 'Helvetica Neue', Arial;
    color: #69952f;
    font-size: 14px;
    font-weight: bold;
    padding-top: 50px;
}

#sign_together h1 {
    margin-top: 10px;
}

#sign_together .errorExplanation {
    width: 360px;
    text-align: left;
}


/** USER PROFILE **/
#user_photo_on_profile {
    float: right;
    margin-top: 30px;
}

.undescribed_requests {
    padding: 19px 29px;
    width: 780px;
}

#user_profile_search {
    float: right;
    padding-left: 0px;
    padding-right: 150px;
    width: 480px;
}


/** FOOTER **/
#footer {
    height: 240px;
    margin: 0px;
    border-top: 1px solid #C6C6C5;
    background-color: #ECECEC;
    padding-top: 10px;
}

#footer-inner {
    width: 960px;
    margin: auto;
    position: relative;
}

.footer-column {
    width: 290px;
    float: left;
    padding-left: 30px;
    text-align: left;
}
    .footer-column.wide {
        width: 450px;
    }
    .footer-column h4 {
        margin-bottom: 0px;
        font-family: 'Open Sans', 'Helvetica Neue', Arial;
        font-size: 15px;
        color: #444;
    }
    .footer-column h4.shy {
        color: #555;
        font-weight: 200;
    }
    .footer-column p, .footer-column ul {
        font-family: Verdana, 'Helvetica Neue', Arial;
        padding-left: 0px;
        font-size: 12px;
        color: #555;
        list-style: none;
    }
    .footer-column a {
        color: #555;
        text-decoration: none;
    }

.footer-logo img {
    display: block-inline;
    margin: 5px 10px 5px 0px;
}


