<div class="act_link">
  <i class="act-link-icon act-link-icon--write"></i>
  <%= link_to 'Istraži putem MozaikVeza.hr',
              'https://www.mozaikveza.hr',
              :onclick => track_analytics_event(
                AnalyticsEvent::Category::OUTBOUND,
                AnalyticsEvent::Action::MOZAIK_VEZA_EXIT,
                :label => 'Request sidebar') %>
</div>
